{% extends "base.html" %}

{% block content %}
    <h1> Book List </h1>
    <form action="/" method="POST">
        <label for="book_title"> Title </label>
        <input id="book_title" type ="text" name="book_title" required />
        <label for="book_author"> Author </label>
        <input id="book_author" type="text" name= "book_author"  />     
        <input type="submit" value="Add Book!" />
    </form> 

    <hr />

    {% if books|length == 0 %}
    <p> Your Book List is currently empty</p>
    {% else %}

        <ul>
            {% for book in books %}
            <li> {{book}} </li>
            {% endfor %}
        </ul>

    {% endif %}
    {% endblock %}


</body>
</html> 