{% extends "base.html" %}

{% block content %}
    <h1> Book List </h1>
    <form action="/" method="POST">
        <label for="book_title"> Title </label>
        <input id="book_title" type ="text" name="book_title" required />
        <label for="book_author"> Author </label>
        <input id="book_author" type="text" name= "book_author"  />     
        <input type="submit" value="Add Book!" />
    </form> 

    <hr />

    {% if books|length == 0 %}
    <p> Your Book List is currently empty</p>
    {% else %}

        <ul>
            {% for book in books %}
            <li> {{book.title}} by {{book.author}} 
                <form method="POST" action="/remove-book" style="display: inline-block">
                    <input type="hidden" name="book-id" value="{{book.id}}" />
                    <input type ="submit" value ="Read It!" />
                    
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

    <h2> Completed Reading </h2>
        <ul>
            {% for book in completed_books %}
            <li> {{book.title}} by {{book.author}}</li>
            {% endfor %}
        </ul>

    {% endblock %}


</body>
</html> 